# === Camera Info ===
# note: these are all optional

*focusPositionX
-0.627282

*focusPositionY
-0.840574

*focusPositionZ
-0.141756

*cameraRadius
1.6575

*cameraLongitude
-123.518

*cameraLatitude
15.1887

*lightingFilename
../../models/cloth/cloth.lighting

# === End Camera Info ===

# === Force Parameters ===

*timeStep
0.01

*tensileStiffness
8500.0

*shearStiffness
1000.0

*bendStiffnessU
10

*bendStiffnessV
10

*useRestAngles
0

*dampingMass
0.0

*dampingStiffness
0.01

# === End Force Parameters ===

# === Simulation Parameters ===

*forceMagnitude
0.25

*numInternalThreads
3

*addGravity
1

*gravityForce
9.81

# === End Simulation Parameters ===

# === object file info ===

*objMeshname
../../models/cloth/bend2.obj

*fixedVerticesFilename
../../models/cloth/bend2.bou

# === end object file info ===

