# === Camera Info ===
# note: these are all optional

*focusPositionX
-0.9

*focusPositionY
-0.95

*focusPositionZ
-0.90

*cameraRadius
0.573

*cameraLongitude
-123.518

*cameraLatitude
15.1887

*zBufferNear
0.0001

*zBufferFar
0.1

*lightingFilename
../../models/cloth/cloth.lighting

# === End Camera Info ===

# === Force Parameters ===

*timeStep
0.01

*tensileStiffness
8500.0

*shearStiffness
100.0

*bendStiffnessU
0.01

*bendStiffnessV
0.01

*useRestAngles
0

*dampingMass
0.0

*dampingStiffness
0.001

# === End Force Parameters ===

# === Simulation Parameters ===

*forceMagnitude
0.25

*numInternalThreads
3

*addGravity
1

*gravityForce
0.0

# === End Simulation Parameters ===

# === object file info ===

*objMeshname
../../models/cloth/bend1.obj

*fixedVerticesFilename
../../models/cloth/bend1.bou

# === end object file info ===

