# === Camera Info ===
# note: these are all optional

*focusPositionX
-0.06865 

*focusPositionY
0.0949206 

*focusPositionZ
-0.0728166

*cameraRadius
0.95

*cameraLongitude
-118.361

*cameraLatitude
18.34

*zBufferNear
0.01

*zBufferFar
10

*lightingFilename
../../models/cloth/cloth.lighting

# === End Camera Info ===

# === Force Parameters ===

*timeStep
0.02

*surfaceDensity
100

*tensileStiffness
5e7

*shearStiffness
0.5e7

*bendStiffnessU
0.1

*bendStiffnessV
0.1

*useRestAngles
0

*dampingMass
0.0

*dampingStiffness
0.001

# === End Force Parameters ===

# === Simulation Parameters ===

*forceMagnitude
0.25

*numInternalForceThreads
8

*numSolverThreads
4

*addGravity
1

*gravityForce
9.81

*computeStretchShearForce
1

*computeStretchShearStiffness
1

*computeBendForce
1

*computeBendStiffness
1

# === End Simulation Parameters ===

# === object file info ===

*objMeshname
../../models/cloth/cloth100.obj

*fixedVerticesFilename
../../models/cloth/cloth100.bou

# === end object file info ===

